<!-- Header -->
<section id="header">
	<div class="inner">
		<img id="up-logo" src="/images/Up_logo_index.png" alt="Up">
		<h1>Hi, I'm
			<strong>Up!</strong>
			<br /> Turning your recycle into Upcycle!</h1>
		<p>A Peer to Peer recycling program,
			<br /> saving the planet and rewarding the community!</p>
		<ul class="actions">
			<li>
				<a href="newUser" class="button scrolly" id="first-button">Try it!</a>
			</li>
		</ul>
	</div>
</section>

<!-- One -->
<section id="one" class="main style1">
	<div class="container">
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Our mission at UP!</h2>
					{{!-- <hr> --}}
				</header>
				<p>We all want to live long, happy, fulfilling lives and here at UP! we want to do our part to help! You might be asking
					yourself, "How can a recycling APP help me live a happier life?" We believe that interaction with your community, helping
					those around you and taking an active role in improving your environment and personal health are important aspects of
					happiness. UP! encourages and incentivizes getting involved with your community, working towards a common goal while
					lending a helping hand to those who need it. Here at UP! we believe that what comes around goes around, so get involved
					and get UP!</p>
					{{!-- <hr> --}}
			</div>
			<div class="6u$ 12u$(medium) important(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec31.jpg" alt="" />
				</span>
			</div>
		</div>
	</div>
</section>

<section id="one" class="main style1">
	<div class="container">
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>Peer-to-Peer Power</h2>
				</header>
				<p>Thanks to companies such Uber, AirBnB and even dog-lodging services like DogVacay, the P2P marketplace has quickly become
					an important part of our everyday lives. That's why we believe through P2P, UP! will not only enhance the way we recylce,
					but more importantly it will make recycling easier, more comprehensive and more rewarding.</p>
			</div>
			<div class="6u$ 12u$(medium) important(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec28.jpg" alt="" />
				</span>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="main style2">
	<div class="container">
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<ul class="major-icons">
					<li>
						<span class="icon style1 major fa-code"></span>
					</li>
					<li>
						<span class="icon style2 major fa-bolt"></span>
					</li>
					<li>
						<span class="icon style3 major fa-camera-retro"></span>
					</li>
					<li>
						<span class="icon style4 major fa-cog"></span>
					</li>
					<li>
						<span class="icon style5 major fa-desktop"></span>
					</li>
					<li>
						<span class="icon style6 major fa-calendar"></span>
					</li>
				</ul>
			</div>
			<div class="6u$ 12u$(medium)">
				<header class="major">
					<h2>Why bringing recycling and P2P together is so important.</h2>
				</header>
				<p>Community: Saving the Earth is hard, so how about we all start small in our own neighborhoods!? We know how difficult
					it is to make an environmental impact on our own, but what if there was a whole community working for the same goals
					and had the tools to make recycling easier for everyone.</p>

				<p>Environment: Who doesn't want to do their part for the environment? Whether it's about separating the plastic bottles
					from the glass bottles, or car-pooling to save gas or taking even one car off the road, we all want to do our part,
					so why not team up with your friends and neighbors to make an even bigger impact!</p>

				<p>Incentivize: Because it takes extra work to protect our community and the environment, UP! wants to pay you for your
					help! Whether you're delivering the materials to the recylcing center or handing off your recyclables to a driver, everyone
					gets part of the profits. Our rewards and payment system not only make it easier to get paid for your efforts, but also
					incentivizes participation from those who might otherwise not see the benefits of recycling.</p>
			</div>
		</div>
	</div>
</section>

<!-- Three -->
<section id="three" class="main style1 special">
	<div class="container">
		<header class="major">
			<h2>UP! your wallet, your heart and your Earth!</h2>
		</header>
		<p>UP! P2P recycling makes it easier, more comprehensive and more rewarding!</p>
		<div class="row 150%">
			<div class="4u 12u$(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec9.png" alt="" />
				</span>
				<h3>
					<strong>UP! for your Wallet!</strong>
				</h3>
				<p>Life is good, but it can also be expensive. That is why recycling and UP-cycling makes so much sense! Why simply throw
					your valuable trash in the land-fill when you can work with your community to turn that rubbish into rewards!? They
					say that the best things in life are free, and recycling is not only free, but it also helps to put some money back
					in your wallet.</p>
			<!--	<ul class="actions">
					<li>
						<a href="#" class="button">More</a>
					</li>
				</ul> -->
			</div>
			<div class="4u 12u$(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec14.png" alt="" />
				</span>
				<h3>
					<strong>UP! for your Health!</strong>
				</h3>
				<p>One of life's most precious gifts to each of us is our health, with the air we breathe and the water we drink being the
					most important components to a healthy life. It's necessary for us to take the extra steps in hopes to protect these
					natural resources. Recycling and UP-cycling not only cuts down on the land-fill bound trash, but it also helps defend
					our air and water quality.</p>
			<!--	<ul class="actions">
					<li>
						<a href="#" class="button">More</a>
					</li>
				</ul> -->
			</div>
			<div class="4u$ 12u$(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec27.png" alt="" />
				</span>
				<h3>
					<strong>UP! for your Earth!</strong>
				</h3>
				<p>In today's fast-paced, self-driving, Amazon next-day delivery automated life, it's easy to forget the impact all of this
					has on the health of our planet. With over 7 billion neighbors world-wide, thinking globally and thinking locally are
					equally as important. Our expanding landfills and Great Pacific Garbage Patch remind us of the importance of recycling
					and UP-cycling. </p>
			<!--	<ul class="actions">
					<li>
						<a href="#" class="button">More</a>
					</li>
				</ul> -->
			</div>
		</div>
	</div>
</section>

<section id="one" class="main style1">
	<div class="container">
		<div class="row 150%">
			<div class="6u 12u$(medium)">
				<header class="major">
					<h2>UP! Points and Rewards System</h2>
				</header>
				<p>If saving your environment and community building isn't inspiring enough, how does money back in your wallet sound? For those of us who might need a little push, we've created a rewards and points system to thank you for doing your part.  Points will be calculated based on which materials are being recycled and the overall weight of the materials.  Also, if you've teamed up with other members of your community, all those who take part in the process, whether you're the one donating your recyclables, or you're the one driving and dropping it all off at the recycling center, everyone is rewarded for thier participation.</p>
			</div>
			<div class="6u$ 12u$(medium) important(medium)">
				<span class="image fit">
					<img src="images/zrecycle/rec6.jpg" alt="" />
				</span>
			</div>
		</div>
	</div>
</section>

<!-- Four -->
<section id="four" class="main style2 special">
	<div class="container">
		<header class="major">
			<h2>Interested in bringing UP! into your community?</h2>
		</header>
		<p>See if UP! is already in your neighborhood, and if it's not, introduce it to your neighborhood!</p>
		<ul class="actions uniform">
			<li>
				<a href="newUser" class="button special">Sign Up</a>
			</li>
			<li>
				<a href="login" class="button">Log In</a>
			</li>
		</ul>
	</div>
</section>







			{{!--
			<h4>Text</h4>
			<p>This is
				<b>bold</b> and this is
				<strong>strong</strong>. This is
				<i>italic</i> and this is
				<em>emphasized</em>. This is
				<sup>superscript</sup> text and this is
				<sub>subscript</sub> text. This is
				<u>underlined</u> and this is code:
				<code>for (;;) { ... }</code>. Finally,
				<a href="#">this is a link</a>.</p>
			<hr />
			<header>
				<h4>Heading with a Subtitle</h4>
				<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
			</header>
			<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare
				mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing
				blandit tempus accumsan.</p>
			<header>
				<h5>Heading with a Subtitle</h5>
				<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
			</header>
			<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare
				mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing
				blandit tempus accumsan.</p>
			<hr />
			<h2>Heading Level 2</h2>
			<h3>Heading Level 3</h3>
			<h4>Heading Level 4</h4>
			<h5>Heading Level 5</h5>
			<h6>Heading Level 6</h6>
			<hr />
			<h5>Blockquote</h5>
			<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum
				primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum
				ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
			<h5>Preformatted</h5>
			<pre><code>i = 0;

while (!deck.isInOrder()) {
print 'Iteration ' + i;
deck.shuffle();
i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
		</section> --}}